.container {
     padding: 0 2rem;
}

.main {
     min-height: 100vh;
     padding: 4rem 0;
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.footer {
     display: flex;
     flex: 1;
     padding: 2rem;
     /* border-top: 1px solid #eaeaea; */
     border-top: 0.3px solid #E4E4E4;

     justify-content: center;
     align-items: center;
     font-size: 6px;
     color: #555555;
     text-align: center;
}

@media only screen and (max-width: 560px) {
     .footer {
          font-size: 10px;
     }
}


.footer a {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-grow: 1;
}

.title a {
     color: #0070f3;
     text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
     text-decoration: underline;
}

.title {
     margin: 0;
     line-height: 1.15;
     font-size: 4rem;
}
.main h2 {
     font-family: 'East Sea Dokdo', cursive;
     font-size: 3.4rem;
     line-height: 3rem;
     text-align: center;
     width: 50%;
     margin-top: 20px; 
     margin-bottom: -23px;
}

.title,
.description {
     text-align: center;
}

.description {
     margin: 4rem 0;
     line-height: 1.5;
     font-size: 1.5rem;
}

.code {
     background: #fafafa;
     border-radius: 5px;
     padding: 0.75rem;
     font-size: 1.1rem;
     font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     max-width: 800px;
     padding-top:0px
}

.center_item {
     margin: auto;
     min-height: calc(90vh - 100px);
     
     position: relative;
     /* border: 3px dotted green;  */
}

.card {
     margin: 1rem;
     padding: 1.5rem;
     text-align: left;
     color: inherit;
     text-decoration: none;
     border: 1px solid #eaeaea;
     border-radius: 11px;
     transition: color 0.15s ease, border-color 0.15s ease;
     max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
     color: #0070f3;
     border-color: #0070f3;
}

.card h2 {
     margin: 0 0 1rem 0;
     font-size: 1.5rem;
}

.card p {
     margin: 0;
     font-size: 1.25rem;
     line-height: 1.5;
}

.logo {
     height: 1em;
     margin-left: 0.5rem;
}

.textQR {
     position: relative;
     top: 0px;

     margin: 25px 25px 75px;
     /* font-size: 0.8rem; */
     font-weight: 300;
     padding: 0 12px;


     font-size: 0.9rem;
     line-height: 1.4rem;

     font-size: 0.8rem;
          line-height: 1.3rem;

}

.logo_corner {
     display: block;
     position: absolute;
     top: -32px;
     left: 20px;
     cursor: pointer;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
.separatorBottomPics {
     margin-bottom: 0px;
}

.hr {
     border-top: 0.5px solid #000000;
}



@media only screen and (max-width: 862px) {
     .main h2 {
          
          width: 60%;
          margin-bottom: 50px;
     }
     .textQR {
          top: 6px;
          
     }

     .logo_corner {
          display: none;
     }
}

@media only screen and (max-width: 560px) {

     .main h2 {
          
          width: 80%;
          margin-top: 34px;
          margin-bottom: 44px;
     }
     .grid {
          width: 100%;
          flex-direction: column;
          justify-content: flex-start;
          padding-top: 26px
     }

     .textQR {
          top: 20px;
          font-size: 1.1rem;
          line-height: 1.5rem;
          
     }

     .separatorBottomPics {
          margin-bottom: 60px;
     }
}