.container {
     position: relative;
     left: 348px;
     top: -118px;
     margin-bottom: 0px;

     p {
          margin: 0;
          font-size: 0.6rem;
     }

}

@media only screen and (max-width: 862px) {
     .container {
          position: relative;
          left: 0px;
          top: 0px;
          margin-bottom: 22px;
          p{
               font-size: 0.8rem;
          }
     }

}