.logo {
     width: 420px;
     position: relative;
     top: -36px;
     left: 2px;
}
// @media only screen and (max-width: 863px) {
//      .logo {
//           width: 350px;
//           top: -35px;
//      }
// }

@media only screen and (max-width: 560px) {
     .logo {
          width: 330px;
          top: -30px;
     }
}