.logo {
     width: 400px;
     position: relative;
     top: -40px;
     left: 2px;
}
@media only screen and (max-width: 862px) {
     .logo {
          width: 350px;
          top: -35px;
     }
}

@media only screen and (max-width: 560px) {
     .logo {
          width: 300px;
          top: -30px;
     }
}