.base {
     text-align: center;
     position: relative;
     top: 31px;
     margin-bottom: 214px;







     // .desserts {
     //      background-color: #F4F4F4;
     //      width: 220px;
     //      border-radius: 11px;
     //      position: relative;
     //      top: 66px;
     //      left: -2px;
     //      padding: 11px 0px 5px 0px;
     //      margin: auto;
     //      margin-bottom: 30px;

     //      img {
     //           width: 220px;
     //      }
     // }

     // .container {
     //      display: flex;
     //      flex-wrap: wrap;
     //      justify-content: space-around;
     //      position: relative;
     //      top: 20px;

     //      .container_items {
     //           display: flex;
     //           flex-wrap: wrap;
     //           justify-content: center;

     //           .images_menu {
     //                width: 200px;
     //           }
     //      }
     // }

     .image_container {
          overflow: scroll;
          border-left: 1px solid #F5F4F4;
          border-right: 1px solid #F5F4F4;
          width: 70vw;
          max-width: 800px;
          height: 520px;
         
          .image_menu {
               width: 70vw;
               width: 900px;
          }
     }
}

@media only screen and (max-width: 862px) {

     .base {
          top: 31px;

          // .desserts {
          //      width: 220px;
          //      left: -2px;
          // }

          // .container {

          //      .container_items {
          //           .images_menu {
          //                width: 245px;
          //           }
          //      }
          // }
     }
}

@media only screen and (max-width: 560px) {
     .base {
          margin-bottom: 228px;
          top: 23px;


          .image_container {
             
               width: 90vw;
               height: 700px;
     
               .image_menu {
                    width: 70vw;
                    width: 1200px;
               }
          }



          // .desserts {
          //      width: 248px;
          //      top: 92px;
          //      left: 2px;

          //      img {
          //           width: 250px;
          //      }
          // }

          // .container {
          //      top: 26px;

          //      .container_items {
          //           .images_menu {
          //                width: 290px;
          //           }
          //      }
          // }
     }
}