.container {
     
     cursor: pointer;

     .images_menu {
          width: 120px;
     }
}

@media only screen and (max-width: 862px) {
     .container {

          .images_menu {
               width: 130px;
          }
     }
}

@media only screen and (max-width: 560px) {
     .container {
          // background-color: aquamarine;

          .images_menu {
               width: 180px;
          }
     }
}